@{
    ViewData["Title"] = "Услуги";
}

<div class="container">
    <h2>Список услуг</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Услуга</th>
                <th scope="col">Стоимость</th>
                <th scope="col">Описание</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Чистка компьютеров и ноутбуков</td>
                <td>250р.</td>
                <td>Быстрая и качественная чистка ваших компьютеров и ноутбуков</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Диагностика</td>
                <td>500р.</td>
                <td>Диагностика и выявление проблем в компьютере или ноутбуке</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Переустановка и настройка Windows</td>
                <td>1000р. + стоимость Windows</td>
                <td>Установка  и настройка лицензионного Windows</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Установка программного обеспечения</td>
                <td>500р. + стоимость ПО</td>
                <td>Установка лицензионного ПО</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Восстановление данных</td>
                <td>100р. за 1 Гб информации</td>
                <td>Восстановление информации с жестких дисков</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Замена матрицы на ноутбуке</td>
                <td>600р. + стоимость матрицы</td>
                <td>Быстрая и качетсвенная замена матрицы на вашем ноутбуке</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Ремонт компьютеров и ноутбуков</td>
                <td>В зависимости от проблемы</td>
                <td>Ремонт конкретной проблемы в вашем комптютере или ноутбуке</td>
            </tr>
        </tbody>
    </table>
</div>
